html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  gap: 1em;

  background-color: #212121;
  color: #dcdcdc;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
  /* padding: 1.4em; */
  flex-grow: 1;
  min-width: 25em;
  max-width: 40%;
}

#list-container {
  /* background-color: red; */
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

#list-btn-container {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#texts-list {
  height: 7em;
  min-width: 10em;
}

.slider-label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}